<div class="card shadow-sm mt-5 profile_bar">
  <%= image_tag customer.get_profile_image(100,100), class:"card-img-top img-fluid" %>
  <div class="card-body">
    <p class="card-title"><strong>ログイン名　<%= customer.login_name %></strong></p>
    <p><strong>自己紹介</strong></p>
    <p class="card-text"><%= customer.introduction %></p>
  </div>
  <table class="table">
    <tr id="follow_<%= customer.id %>">
      <% unless current_customer.id == customer.id %>
      <th><%= render "public/relationships/follow", customer: customer %></th>
      <th></th>
    </tr>
    <% end %>
    <tr>
      <th>フォロー　　：</th>
      <td><%= link_to customer_followings_path(customer) do %>
        <%= customer.followings.count %>
      </td>
      <% end %>
    </tr>
    <tr>
      <th>フォロワー　：</th>
      <td><%= link_to customer_followers_path(customer) do %>
        <%= customer.followers.count %>
      </td>
      <% end %>
    </tr>
    <% if current_customer.id == customer.id %>
      <tr>
        <th><%= link_to "プロフィール",edit_customer_path(customer) %></th>
        <th></th>
      </tr>
      <tr>
        <th><%= link_to "新規投稿",new_post_path %></th>
        <th></th>
      </tr>
      <tr>
        <th><%= link_to "退会について", unsubscribe_path(customer) %></th>
        <th></th>
      </tr>
    <% end %>
  </table>
</div>