<div class="card shadow-sm mt-5 profile_bar">
  <%= image_tag customer.get_profile_image(100,100), class:"card-img-top img-fluid" %>
  <div class="card-body">
    <h6 class="card-title"><%= customer.login_name %></h6>
    <p class="card-text"><%= customer.introduction %></p>
  </div>
  <table class="table">
    <tr class="follow_<%= customer.id %>">
      <% unless current_customer.id == customer.id %>
        <%= render "public/relationships/follow", customer: customer %>
      <% end %>
    </tr>
    <% if current_customer.id == customer.id %>
      <tr>
        <th>フォロー：</th>
        <th><%= link_to customer_followings_path(current_customer) do %>
          <%= customer.followings.count %>
        </th>
        <% end %>
      </tr>
      <tr>
        <th>フォロワー：</th>
        <th><%= link_to customer_followers_path(current_customer) do %>
          <%= customer.followers.count %>
        </th>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <th><%= link_to "プロフィール",edit_customer_path(customer) %></th>
      <th></th>
    </tr>
    <tr>
      <th><%= link_to "新規投稿",new_post_path %></th>
      <th></th>
    </tr>
    <tr>
      <% if current_customer == customer %>
      <th><%= link_to "退会について", unsubscribe_path(customer) %></th>
      <th></th>
      <% end %>
    </tr>
  </table>
</div>