<div class="card shadow-sm mt-5 profile_bar">
  <%= image_tag customer.get_profile_image(100,100), class:"card-img-top img-fluid" %>
  <div class="card-body">
    <p class="card-title"><strong>ログイン名　<%= customer.login_name %></strong></p>
    <p><strong>自己紹介</strong></p>
    <p class="card-text"><%= customer.introduction %></p>
  </div>
  <% unless current_customer.name == "guestcustomer" %>
    <table class="table">
      <tr id="follow_<%= customer.id %>">
        <% unless current_customer.id == customer.id %>
        <%= render "public/relationships/follow", customer: customer %>
      </tr>
      <% end %>
      <tr>
        <th>フォロー　　：</th>
        <td id="followings-count_<%= customer.id %>">
          <%= render "public/relationships/followings_count", customer: customer %>
        </td>
      </tr>
      <tr>
        <th>フォロワー　：</th>
        <td id="followers-count_<%= customer.id %>">
          <%= render "public/relationships/followers_count", customer: customer %>
        </td>
      </tr>
      <% if current_customer.id == customer.id %>
        <tr>
          <th><%= link_to "プロフィール",edit_customer_path(customer) %></th>
          <th></th>
        </tr>
        <tr>
          <th><%= link_to "新規投稿",new_post_path %></th>
          <th></th>
        </tr>
        <tr>
          <th><%= link_to "退会について", unsubscribe_path(customer) %></th>
          <th></th>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>