<div class="container">
  <div class="row">
      <h5 class="col-md-12 offset-2 my-5">プロフィール編集画面</h5>
  </div>
  <div class="row">
      <div class="col-md-10 offset-2">

          <%= form_with model: @customer, local:true do |f| %>
          <div class="from-group">
            <%= f.label :profile_image, "プロフィール画像",class:"col-md-3" %>
            <%= f.file_field :profile_image, accept: "image/*" %>
          </div>
          <div class="from-group mt-3 mb-4">
            <%= f.label :name,"氏名",class:"align-top col-md-3" %>
            <%= f.text_field :name %>
          </div>
          <div class="from-group mt-3 mb-4">
            <%= f.label :login_name,"ログイン名",class:"align-top col-md-3" %>
            <%= f.text_field :login_name %>
          </div>
          <div class="from-group mt-3 mb-4">
            <%= f.label :introduction,"自己紹介",class:"align-top col-md-3" %>
            <%= f.text_area :introduction, placeholder:"他の会員に自己紹介してみましょう。",size:"35x10" %>
          </div>

          <div class="from-group offset-md-5 offset-sm-3 offset-lg-3">
            <%= f.submit "変更する",class:"btn btn-info col-md-2 col-sm-3 col-lg-3" %>
          </div>
          <% end %>
      </div>
  </div>
</div>