<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/customers/info", customer: current_customer %>
      <%= render "public/tags/tag", tag_list: @tag_list %>
    </div>
    <div class="col-md-9">
       <div class="row">
        <% if @customers == [] %>
          <h4>検索結果はありません。</h4>
        <% else %>
          <% @customers.each do |customer| %>
            <div class="card shadow-sm m-3 mt-5 col-md-5">
              <div class="card-header float-end">
                <%= link_to customer_path(customer) ,class:'customer_link' do %>
                  <%= image_tag customer.get_profile_image(50,50), class:"img-fluid d-inline" %>
                <% end %>
                <%= link_to customer_path(customer) do %>
                  <p class="d-inline"><%= customer.login_name %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>