<div class="container bg-heigt">
  <div class="row">
    <%= render "layouts/message" %>
    <%= render "public/searchs/search_customer" %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= render "public/customers/info", customer: current_customer %>
      <%= render "public/tags/tag", tag_list: @tag_list %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <% if @customers == [] %>
          <div class="col-md-5 mt-5">
            <h5>検索結果はありません。</h5>
          </div>
        <% else %>
          <% @customers.each do |customer| %>
            <div class="card shadow-sm m-3 mt-5 col-md-5">
              <%= link_to customer_path(customer) ,class:'customer_link' do %>
                <%= image_tag customer.get_profile_image(500,500), class:"img-fluid card-img-top" %>
              <% end %>
              <div class="card-body">
                <p><strong>ログイン名　<%= customer.login_name %></strong></p>
                <p><strong>自己紹介</strong></p>
                <p class="card-text"><%= customer.introduction %></p>
              </div>
              <table class="table">
                <tr>
                  <th>フォロー　　：</th>
                  <td><%= customer.followings.count %></td>
                </tr>
                <tr>
                  <th>フォロワー　：</th>
                  <td><%= customer.followers.count %></td>
                </tr>
              </table>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>