<div class="container">
  <div class="row">
      <div class="col-md-3 card shadow-sm mt-5 profile_bar">
        <%= image_tag @customer.get_profile_image(100,100), class:"card-img-top" %>
        <div class="card-body">
          <h6 class="card-title"><%= @customer.login_name %></h6>
          <p class="card-text"><%= @customer.introduction %></p>
        </div>
        <table class="table">
        <% unless current_customer == @customer %>
          <% if current_customer.followings?(customer) %>
            <th><%= link_to "フォロー中", customer_relationships_path(customer), method: :delete %></th>
          <% else %>
            <th><% link_to "フォローする", customer_relationships_path(customer), method: :post %></th>
          <% end %>
        <% else %>
        <tr>
          <th>フォロー数：</th>
          <th><%= link_to customer_followings_path(current_customer) do %>
            <%= @customer.followings.count %>
          </th>
          <% end %>
        </tr>
        <tr>
          <th>フォロワー数：</th>
          <th><%= link_to customer_followers_path(current_customer) do %>
            <%= @customer.followers.count %>
          </th>
          <% end %>
        </tr>
        <% end %>
        <tr>
          <th><%= link_to "プロフィール編集",edit_customer_path %></th>
          <th></th>
        </tr>
        <tr>
          <th><%= link_to "新規投稿する",new_post_path %></th>
          <th></th>
        </tr>
        </table>
      </div>


      <div class="col-md-8">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="card shadow-sm m-3 mt-5 col-md-5">
              <div class="card-header float-end">
                <p class="d-inline">image</p>
                <p class="d-inline"><%= post.customer.login_name %></p>
              </div>
            <% if post.post_image.attached? %>
            　<%= link_to post_path(post) do %>
                <%= image_tag post.post_image, class:"card-img-top post-image" %>
            <% end %>
              <div class="card-body">
                <p class="card-text text-wrap"><%= post.post %></p>
              </div>
              <div class="card-footer">
                <%= render "layouts/favorite", post: post  %>

                <p class="card-text d-inline"><small class="text-muted"><%= post.created_at.strftime("%Y/%m/%d") %></small></p>
              </div>
              <% end %>

            </div>
          <% end %>

        </div>
      </div>

      <div class="col-md-1">
        <%= link_to new_post_path do %>
          <i class="fas fa-pen-fancy"></i>
        <% end %>
      </div>



  </div>
</div>