<div class="container">
  <div class="row">
      <div class="col-md-3 shadow-sm mt-5">
        <p>プロフィール画像</p>
        <p><%= @customer.login_name %></p>
        <p>自己紹介文</p>
        <p>フォロー</p>
        <p>フォロワー</p>
        <p><%= link_to "プロフィール編集",edit_customer_path %></p>



        <%= link_to "新規投稿する",new_post_path %>
      </div>


      <div class="col-md-8">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="card shadow-sm m-3 mt-5 col-md-5">
              <div class="card-header float-end">
                <p class="d-inline">image</p>
                <p class="d-inline"><%= post.customer.login_name %></p>
              </div>
            <% if post.post_image.attached? %>
            　<%= link_to post_path(post) do %>
                <%= image_tag post.post_image, class:"card-img-top post-image" %>
            <% end %>
              <div class="card-body">
                <p class="card-text text-wrap"><%= post.post %></p>
              </div>
              <div class="card-footer">
                <%= render "layouts/favorite", post: post  %>
                
                <p class="card-text d-inline"><small class="text-muted"><%= post.created_at.strftime("%Y/%m/%d") %></small></p>
              </div>
              <% end %>

            </div>
          <% end %>

        </div>
      </div>

      <div class="col-md-1">
        <%= link_to new_post_path do%>
          <i class="fas fa-pencil"></i>

      </div>
      <% end %>


  </div>
</div>