<div class="container bg-color">
  <div class="row">
    <div class="col-md-3 offset-2 my-5">
      <h5>投稿編集画面</h5>
    </div>
  </div>
  <div class="row">
      <div class="col-md-10 offset-2">

          <%= form_with model: @post, local:true do |f| %>
          <div class="from-group">
            <%= f.label :image, "投稿画像",class:"col-md-2" %>
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          <div class="from-group">
            <%= f.label :post,"投稿コメント",class:"align-top col-md-2" %>
            <%= f.text_area :post, placeholder:"投稿したいコメントを入力してください。",size:"40x13" %>
          </div>
          <div class="form-group  mt-3 mb-4">
            <%= f.label :name, "タグ",class:"col-md-2" %>
            <%= f.text_field :name, value: @tag_list, placeholder:"タグは , で区切ってください。", size: 41 %>
          </div>
          <div class="from-group offset-3">
            <%= f.submit "変更",class:"btn btn-info col-md-3" %>
          </div>


          <% end %>
      </div>
  </div>
</div>