<div class="container">
  <div class="row">
    <%= render "layouts/message" %>
    <%= render "public/searchs/search_customer" %>
  </div>
  <div class="row">
    <div class="col-md-3 profile_bar">
      <%= render "public/customers/info", customer: @customer %>
      <%= render "public/tags/tag", tag_list: @tag_list %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="card shadow-sm m-3 mt-5 col-md-5">
          <% if post.post_image.attached? %>
          　<%= link_to post_path(post) do %>
              <%= image_tag post.post_image, class:"card-img-top post-image img-fluid" %>
          <% end %>
            <div class="card-body">
              <p class="card-text overflow-hidden post-index"><%= post.post %></p>
            </div>
              <!--タグ表示-->
            <div class="card-body">
              <p class="card-text post-index">
                <% post.tags.each do |tag| %>
                <i class="fas fa-tag"></i>
                  <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
                <% end %>
              </p>
            </div>
            <div class="card-footer">
              <%= link_to customer_path(post.customer) ,class:'customer_link' do %>
                <%= image_tag post.customer.get_profile_image(50,50), class:"img-fluid d-inline" %>
              <% end %>
              <%= link_to customer_path(post.customer) do %>
                <p class="d-inline"><%= post.customer.login_name %></p>|
              <% end %>
              <p class="d-inline favorite_<%= post.id %>"><%= render "public/favorites/favorite", post: post  %></p>|
              <P class="d-inline"><i class="fa fa-comment-dots"></i><%= post.comments.count %></P>|
              <p class="card-text d-inline"><i class="fa fa-calendar"></i><small class="text-muted"><%= post.created_at.strftime("%Y/%m/%d") %></small></p>|
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>