<div class="container bg-color">
  <div class="row">
      <h5 class="col-md-12 offset-2 my-5">投稿画面</h5>
  </div>
  <div class="row">
      <div class="col-md-10 offset-2">

          <%= form_with model: @post , local:true do |f| %>
          <div class="from-group">
            <%= f.label :post_image, "投稿画像",class:"col-md-2" %>
            <%= f.file_field :post_image, accept: "image/*" %>
          </div>
          <div class="from-group mt-3 mb-4">
            <%= f.label :post,"投稿コメント",class:"align-top col-md-2" %>
            <%= f.text_area :post, placeholder:"コメントは300字まで投稿できます。",size:"40x13" %>
          </div>
          <div class="from-group">
            <%= f.label :name, "タグ",class:"col-md-2" %>
            <%= f.text_field :name, placeholder:"タグは , で区切ってください。", size: 41 %>
          </div>
          <div class="from-group offset-md-5 offset-sm-3 offset-lg-3 mt-3">
            <%= f.submit "投稿",class:"btn btn-info col-md-2 col-sm-3 col-lg-3" %>
          </div>
          <% end %>
      </div>
  </div>
</div>