  <!--コメント一覧-->
  <% post.comments.each do |comment| %>
    <div class="card">
      <div class="card-header">
        <p class="d-inline">
          <%= link_to customer_path(comment.customer) ,class:'customer_link' do %>
            <%= image_tag comment.customer.get_profile_image(50,50), class:"img-fluid d-inline" %>
          <% end %>
        </p>
        <p class="d-inline"><%= comment.customer.login_name %></p>
        <p class="card-text d-inline"><small class="text-muted"><%= comment.created_at.strftime("%Y/%m/%d") %></small></p>
      </div>
      <div class="card-body">
        <div class="card-text"><%= comment.comment %></div>
      </div>
      <div class="card-footer">
        <% if comment.customer == current_customer %>
          <%= link_to "削除",post_comment_path(post, comment), method: :delete, remote: true, class:"card-text d-inline offset-10 btn btn-comment-destroy" %>
        <% end %>
      </div>
    </div>
  <% end %>
