<div class="container">
  <div class="row">
    <%= render "public/customers/info", customer: @customer %>
    <table class="col-md-8 table  shadow-sm m-3 mt-5">
      <% @customers.each do |customer| %>
      <tr>
        <th><%= image_tag customer.get_profile_image(50,50) %></th>
        <th><%= link_to customer.login_name, customer_path(customer) %></th>
        <% if current_customer.followings?(customer) %>
          <th><%= link_to "フォロー中", customer_relationships_path(customer), method: :delete, remote: true %></th>
        <% else %>
          <th><%= link_to "フォローする", customer_relationships_path(customer), method: :post, remote: true %></th>
      <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>