<div class="col-md-3 card shadow-sm mt-5 admin-profile_bar">
  <%= image_tag customer.get_profile_image(100,100), class:"card-img-top img-fluid" %>
  <div class="card-body">
    <h6 class="card-title"><%= link_to customer.login_name,admin_customer_path(customer) %></h6>
    <p class="card-text"><%= customer.introduction %></p>
  </div>
  <table class="table">
    <tr>
      <th>フォロー：</th>
      <th><%= customer.followings.count %></th>
    </tr>
    <tr>
      <th>フォロワー：</th>
      <th><%= customer.followers.count %></th>
    </tr>
  </table>
</div>