<div class="container">
  <div class="row mx-auto">
      <h3 class="col-md-4 my-3 offset-md-4">会員一覧</h3>
  </div>

  <div class="row">
    <table class="table col-md-8 mx-auto mt-4">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>ログイン名</th>
        <th>ステータス</th>
      </tr>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to admin_customer_path(customer) do %>
            <%= customer.name %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_customer_posts_path(customer) do %>
            <%= customer.login_name %>
          <% end %>
        </td>
        <%  if customer.is_deleted == false %>
          <td>有効会員</td>
        <% else %>
          <td>退会済み</td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>